#codeImage {
    width: 100%;
    height: 90vh;
}

#scratchLogo {
    width: 50%
}

#scratchLogo:hover {
    cursor: pointer;
}

.logo {
    width: 5%;
}

#demo {
    height: 96vh;
}

.social {
    width: 50px;
}

.icon {
    width: 50%
}

main {
    margin-top: 5%;

}

section:first-child,
aside {
    padding: 15px;
    background-color: gainsboro;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
}
/* Apply background color to the first child section and aside elements in dark theme */
html[data-bs-theme="dark"] section:first-child,
html[data-bs-theme="dark"] aside {
    background-color: rgba(0, 0, 0, 0.1);
}

section:last-child {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    position: relative;
}

section:last-child aside {
    position: sticky;
    width: 300px;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    text-align: center;
    top: calc(50% - 30px);
    height: 300px;
}

.social {
    margin-top: 5%;
}

hr {
    background: linear-gradient(to right, red, rgb(0, 38, 255));
    height: 5px;
    border: 0;
    border-radius: 20px;
    width: 0; /* Initial width */
    animation: grow 5s forwards; /* Apply the 'grow' animation over 5 seconds */
}

@keyframes grow {
    100% {
        width: 100%; /* Final width */
    }
}

.carousel-inner .carousel-item{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: black;
}
